.exerciseTag {
    @mixin hover {
        background-color: var(--mantine-primary-color-light-hover);
    }
    border-radius: var(--mantine-radius-sm);
    padding: var(--mantine-spacing-xs);
    cursor: grab;
}

.header {
    border-bottom: 1px;
    border-bottom-color: var(--mantine-color-default-border);
    border-bottom-style: solid;
}

.tagList {
    border-right: 1px;
    border-right-color: var(--mantine-color-default-border);
    border-right-style: solid;
}

.composerFooter {
    border-top: 1px;
    border-top-color: var(--mantine-color-default-border);
    border-top-style: solid;
}
